# Problem 26 and 34

# Problem 26

In [3]:
import numpy as np
import pandas as pd

In [2]:
Isofluorane = [.28, .51, 1.00, .39, .29, .36, .32, .69, .17, .33]
Halothane = [.30, .39, .63, .68, .38, .21, .88, .39, .51, .32]
Cyclopropane = [1.07, 1.35, .69, .28, 1.24, 1.53 ,.49 ,.56, 1.02, .30]

In [4]:
df = pd.DataFrame({'Isofluorane':Isofluorane,'Halothane':Halothane,'Cyclopropane':Cyclopropane})
df

   Isofluorane  Halothane  Cyclopropane
0         0.28       0.30          1.07
1         0.51       0.39          1.35
2         1.00       0.63          0.69
3         0.39       0.68          0.28
4         0.29       0.38          1.24
5         0.36       0.21          1.53
6         0.32       0.88          0.49
7         0.69       0.39          0.56
8         0.17       0.51          1.02
9         0.33       0.32          0.30

### Null Hypothisis
### H0 = Mean of all treatments is equal
### Ha = At least 2 means are different

## Parametic Analysis (AVONA)

### For the parametric analysis, we will use the AVONA test. We will chose the significance to be .05. So based on the P value we can determine if there is a difference in treatment effects.

In [8]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df['Isofluorane'], df['Halothane'], df['Cyclopropane'])
print(f"fvalue stat: {fvalue}")
print(f"pvalue: {pvalue}")

fvalue stat: 5.3549659784052785
pvalue: 0.010996594424067195

### Since the (P value = .01 ) < (significance level = .05) we will reject that null hypothisis. We conclude that there is a difference in treatment effects.

## Nonparametic Analysis (Kruskal-Wallis)

### For the nonparametric analysis, we will use the Kruskal-Wallis test. We will chose the significance to be .05. So based on the P value we can determine if there is a difference in treatment effects.

In [9]:
stat, pvalue =stats.kruskal(df['Isofluorane'], df['Halothane'], df['Cyclopropane'])
print(f"kruskal wallis stat: {fvalue}")
print(f"pvalue: {pvalue}")

kruskal wallis stat: 5.3549659784052785
pvalue: 0.05948077693177795

### Since the (P value = .059 ) > (significance level = .05) we will fail to reject that null hypothisis. We conclude that there is NO difference in treatment effects.

# Problem 34

## Part A

In [22]:
df = pd.DataFrame({'Treatment': np.repeat(['A', 'B', 'C', 'D'], 12),
                   'Poisen': np.tile(np.repeat(['1', '2', '3'], 4), 4),
                    'SurvivalTime': [3.1, 4.5, 4.6, 4.3, 3.6, 2.9, 4.0, 2.3,2.2, 2.1, 1.8, 2.3,
                                    8.2, 11.0, 8.8, 7.2, 9.2, 6.1, 4.9, 12.4, 3.0, 3.7, 3.8, 2.9,
                                    4.3, 4.5, 6.3, 7.6, 4.4, 3.5, 3.1, 4.0, 2.3, 2.5, 2.4, 2.2,
                                    4.5, 7.1, 6.6, 6.2, 5.6, 10.0, 7.1, 3.8, 3.0, 3.6, 3.1, 3.3]})
df[:10]
#The Data

  Treatment Poisen  SurvivalTime
0         A      1           3.1
1         A      1           4.5
2         A      1           4.6
3         A      1           4.3
4         A      2           3.6
5         A      2           2.9
6         A      2           4.0
7         A      2           2.3
8         A      3           2.2
9         A      3           2.1

In [23]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#perform two-way ANOVA
model = ols('SurvivalTime ~ C(Treatment) + C(Poisen) + C(Treatment):C(Poisen)', data=df).fit()
sm.stats.anova_lm(model, typ=2)

                            sum_sq    df          F        PR(>F)
C(Treatment)             91.903958   3.0  14.014646  3.277033e-06
C(Poisen)               103.042917   2.0  23.569876  2.863439e-07
C(Treatment):C(Poisen)   24.745417   6.0   1.886743  1.099838e-01
Residual                 78.692500  36.0        NaN           NaN

### Treatment: p-value = 3.277033e-06
### Poisen: p-value = 2.863439e-07
### Treatment*Poisen: p-value = .1099838

### Since the p-values for treatment and poisen are both less than .05, this means that both factors have a statistically significant effect on survival time.

### And since the p-value for the interaction effect (.1099838) is not less than .05, this tells us that there is no significant interaction effect between treatment and poison frequency. So poisen and treatment are independant of each other.

## Part B

In [24]:
df['Reciprocals'] = 1/df['SurvivalTime']
df[:10]

  Treatment Poisen  SurvivalTime  Reciprocals
0         A      1           3.1     0.322581
1         A      1           4.5     0.222222
2         A      1           4.6     0.217391
3         A      1           4.3     0.232558
4         A      2           3.6     0.277778
5         A      2           2.9     0.344828
6         A      2           4.0     0.250000
7         A      2           2.3     0.434783
8         A      3           2.2     0.454545
9         A      3           2.1     0.476190

In [25]:
model = ols('Reciprocals ~ C(Treatment) + C(Poisen) + C(Treatment):C(Poisen)', data=df).fit()
sm.stats.anova_lm(model, typ=2)

                          sum_sq    df          F        PR(>F)
C(Treatment)            0.203962   3.0  28.409988  1.335621e-09
C(Poisen)               0.348633   2.0  72.841855  2.216957e-13
C(Treatment):C(Poisen)  0.015666   6.0   1.091095  3.863548e-01
Residual                0.086151  36.0        NaN           NaN

### Treatment: p-value = 1.335621e-09
### Poisen: p-value = 2.216957e-13
### Treatment*Poisen: p-value = .3863548

### Since the p-values for treatment and poisen are both less than .05, this means that both factors have a statistically significant effect on rate of death.

### And since the p-value for the interaction effect (.3863548) is not less than .05, this tells us that there is no significant interaction effect between treatment and poison frequency. So poisen and treatment are independant of each otherin terms of the death rate as well.

### Since the survival time and death rate were directly related as one is the reciprical of the other. It makes sense that the two-way analysis worked out similar for both tests. For both test the treatment and posien individually reject the null hypothisis but the interaction effect fail to reject the null hypothisis.